sendkeys: ["xxx"]
feishu_webhooks: [""]
crontasks:
  - name: "test"
    cron: "* */1 * * *"
    message:
        title: "test"
        description: "这是测试"
        channel: 9

plugins:
  bond-reminder:
    cron: "0 8 * * *"
  taopiaopiao:
    cron: "0 18 * * 5"
    # cron: "*/1 * * * *"
  bond:
    cron: "0 10 * * 1-5"
    # cron: "*/1 * * * *"
    bonds:
      - code: "002304"
        name: 洋河酒业
        price: 54.0